Repository grafana/grafana-operator, pull requests merged in 2020-10, with the labels that each got.

#289 update docs and change base-image to ubi:8
  build/Dockerfile
  deploy/examples/dashboards/DashboardFromURL.yaml
  documentation/dashboards.md
  documentation/deploy_grafana.md
Labels: documentation

#291 Add support for TLS settings in AuthGenericOauth
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/config/grafanaIni.go
Labels: enhancement

#292 add missing crd field
  deploy/crds/GrafanaDashboard.yaml
Labels: Bug Fix

#293 Add Azure monitoring fields for grafanadatasources
  deploy/examples/datasources/Azure.yaml
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: enhancement

#298 close idle HTTP client connections at the end of a reconciliation run
  pkg/controller/grafanadashboard/dashboard_controller.go
  pkg/controller/grafanadashboard/grafana_client.go
Labels: approved, lgtm, ok-to-test

#295 Fix-214- use zapper for logging and set log levels
  cmd/manager/main.go
  documentation/deploy_grafana.md
  go.mod
  pkg/controller/common/clusterActions.go
  pkg/controller/grafana/grafana_controller.go
  pkg/controller/grafana/grafana_reconciler.go
  pkg/controller/grafana/grafonnet_utils.go
  pkg/controller/grafana/pluginsHelper.go
  pkg/controller/grafanadashboard/dashboard_controller.go
  pkg/controller/grafanadashboard/dashboard_pipeline.go
  pkg/controller/grafanadashboard/grafana_client.go
  pkg/controller/grafanadatasource/datasource_controller.go
Labels: approved, enhancement
