Repository grafana/grafana-operator, pull requests merged in 2020-12, with the labels that each got.

#313 Format strings in some log messages are not replaced
  pkg/controller/common/clusterActions.go
  pkg/controller/grafana/grafana_controller.go
  pkg/controller/grafana/grafana_reconciler.go
  pkg/controller/grafanadashboard/dashboard_controller.go
Labels: approved, lgtm, needs-ok-to-test

#314 Calculate hash value with datasources
  pkg/apis/integreatly/v1alpha1/grafanadashboard_types.go
Labels: approved, lgtm, needs-ok-to-test

#308 Reuse TCP transport to prevent connection leak
  pkg/controller/grafana/grafana_controller.go
  pkg/controller/grafanadashboard/dashboard_controller.go
  pkg/controller/grafanadashboard/grafana_client.go
Labels: approved, lgtm, needs-ok-to-test

#316 fix grafana.yaml
  deploy/crds/Grafana.yaml
Labels: approved, lgtm

#317 Add AzureAD config
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/config/grafanaIni.go
Labels: approved, enhancement, lgtm, needs-ok-to-test

#321 add saml auth
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/config/grafanaIni.go
Labels: approved, enhancement, lgtm, needs-ok-to-test

#323 Add missing InfluxDB datasource jsonData fields
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: approved, lgtm, needs-ok-to-test
