Repository grafana/grafana-operator, pull requests merged in 2020-07, with the labels that each got.

#200 Fix #199: ImagePullSecret for ServiceAccount
  deploy/operator.yaml
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/model/grafanaServiceAccount.go
Labels: enhancement

#218 Add configmap for OCP oath example
  deploy/examples/oauth/Grafana.yaml
  deploy/examples/oauth/README.md
  deploy/examples/oauth/ocp-injected-certs.yml
Labels: documentation, enhancement

#216 Add documentation for running the operator on minikube
  Makefile
  documentation/deploy_grafana.md
  documentation/minikube.md
Labels: documentation, enhancement

#223 Fix code block closing in deploy_grafana.md
  documentation/deploy_grafana.md
Labels: documentation, enhancement

#225 support stackdriver datasource options
  deploy/examples/datasources/Stackdriver.yaml
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: Bug Fix

#241 Add SECURITY.md doc
  SECURITY.MD
Labels: documentation
