Repository grafana/grafana-operator, pull requests merged in 2021-06, with the labels that each got.

#415 Add support to override default deployment strategy
  api/integreatly/v1alpha1/grafana_types.go
  api/integreatly/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_grafanas.yaml
  config/manager/kustomization.yaml
  controllers/model/grafanaDeployment.go
  documentation/deploy_grafana.md
Labels: needs-ok-to-test

#423 fix: add watch namespace back to mgr
  main.go
Labels: approved, lgtm

#425 Fix Dockerfile COPY instead of ADD
  Dockerfile
Labels: approved, lgtm, needs-ok-to-test

#424 Initial PR-validation github action
  .github/workflows/pr-validation.yaml
  .golangci.yaml
  Makefile
Labels: approved, lgtm, needs-ok-to-test

#427 fix typo in dashboards doc
  documentation/dashboards.md
Labels: approved, lgtm, needs-ok-to-test

#426 Fix: Make linter happier
  controllers/config/controller_config.go
  controllers/grafana/grafana_controller.go
  controllers/grafana/grafana_reconciler.go
  controllers/grafana/pluginsHelper.go
  controllers/grafanadashboard/dashboard_pipeline.go
  controllers/grafanadashboard/grafanadashboard_controller.go
  controllers/grafanadatasource/datasource_controller.go
  controllers/grafanadatasource/datasource_pipeline.go
  controllers/model/grafanaDeployment.go
  main.go
Labels: approved, lgtm, needs-ok-to-test

#428 Update dockerfile & pr-validation
  .github/workflows/pr-validation.yaml
  .trivyignore
  Dockerfile
Labels: approved, lgtm, needs-ok-to-test

#419 Add support for Grafana rendering configuration
  api/integreatly/v1alpha1/grafana_types.go
  api/integreatly/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_grafanas.yaml
  controllers/config/grafanaIni.go
Labels: approved, lgtm, needs-ok-to-test

#390 Set GrafanaPlugin name & version to requiered
  api/integreatly/v1alpha1/grafana_types.go
Labels: approved, needs-ok-to-test

#430 fix: use default storage class when class is not defined
  pkg/controller/model/grafanaDataPvc.go
Labels: approved, lgtm, needs-ok-to-test

#429 Lint improvments
  .golangci.yaml
  controllers/common/clusterActions.go
  controllers/common/clusterState.go
  controllers/config/controller_config.go
  controllers/config/controller_config_test.go
  controllers/constants/constants.go
  controllers/grafana/grafana_reconciler.go
  controllers/grafana/grafonnet_utils.go
  controllers/grafana/pluginsHelper.go
  controllers/grafanadashboard/grafana_client.go
  controllers/grafanadashboard/grafanadashboard_controller.go
  controllers/grafanadatasource/datasource_controller.go
  controllers/model/grafanaConfig.go
  controllers/model/grafanaDeployment.go
  controllers/model/grafanaIngress.go
  internal/k8sutil/k8sutil.go
  main.go
Labels: approved, lgtm, needs-ok-to-test

#431 Refactor grafanaIni to become smaller
  controllers/config/grafanaIni.go
  controllers/config/grafanaIni_test.go
  go.mod
  go.sum
Labels: approved, lgtm, needs-ok-to-test

#421 [Issue #169] Allow plugins to be fetched behind proxy
  api/integreatly/v1alpha1/grafana_types.go
  api/integreatly/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_grafanas.yaml
  controllers/grafana/pluginsHelper.go
  controllers/model/grafanaDeployment.go
  documentation/deploy_grafana.md
Labels: do-not-merge/work-in-progress, needs-ok-to-test, needs-rebase
