Repository grafana/grafana-operator, pull requests merged in 2021-04, with the labels that each got.

#384 Add xenit to users of grafana-operator
  README.md
  media/users/xenit.png
Labels: approved, lgtm, needs-ok-to-test

#368 add configmaps to cluster_role permissions
  deploy/cluster_roles/cluster_role_grafana_operator.yaml
  deploy/examples/dashboards/DashboardFromConfigMap.yaml
Labels: approved, lgtm

#383 change maxUnavailable and MaxSurge to use percentages as opposed to int
  pkg/controller/model/grafanaDeployment.go
Labels: approved

#389 Update apiVersion of postgres deployment in HA example
  deploy/examples/ha/postgres.yaml
Labels: approved, lgtm, needs-ok-to-test

#391 .Fix typo subscriptionId
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: approved, lgtm, needs-ok-to-test

#392 Update grafana version to 7.3.10
  pkg/controller/model/constants.go
Labels: approved, lgtm, needs-ok-to-test

#395 add default_theme parameter passing to grafana.ini (closes #394)
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/config/grafanaIni.go
Labels: approved, lgtm, needs-ok-to-test

#385 add configuration for volumes and volumeMounts
  deploy/crds/Grafana.yaml
  deploy/examples/extraVolumes/Grafana.yaml
  deploy/examples/extraVolumes/volume-secret.yaml
  deploy/examples/persistentvolume/Grafana.yaml
  documentation/deploy_grafana.md
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/model/grafanaDeployment.go
Labels: approved, lgtm

#396 provide openshift and kubernetes specific examples for persistent vol…
  deploy/examples/persistentvolume/Grafana-Kubernetes.yaml
  deploy/examples/persistentvolume/Grafana-OpenShift.yaml
  documentation/README.md
Labels: approved, lgtm

#398 docs: describe using environment variables in data sources
  deploy/examples/datasource-env-vars/Grafana.yaml
  deploy/examples/datasource-env-vars/Prometheus.yaml
  deploy/examples/datasource-env-vars/secret.yaml
  documentation/README.md
  documentation/env_vars.md
Labels: approved, lgtm
