Repository grafana/grafana-operator, pull requests merged in 2021-01, with the labels that each got.

#326 Mgdapi 1030
  pkg/controller/grafana/grafana_controller.go
Labels: approved, lgtm

#325 change base image to ubi-minimal and use 8.3
  build/Dockerfile
Labels: approved, lgtm

#329 Add log console for json
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/config/grafanaIni.go
Labels: approved, lgtm, needs-ok-to-test

#330 INTLY-10372: Safely read and write plugins concurrently
  pkg/controller/config/controller_config.go
  pkg/controller/config/controller_config_test.go
  pkg/controller/grafana/grafana_reconciler.go
Labels: approved, lgtm

#311 build: multi-arch builds
  .github/dependabot.yml
  .github/workflows/build-image.yml
  Makefile
  build/Dockerfile
Labels: enhancement, needs-ok-to-test

#334 Patch nil pointer in service name configuration and fix derived Fields
  deploy/crds/Grafana.yaml
  deploy/crds/GrafanaDataSource.yaml
  deploy/examples/datasources/simpleJsonWithDerivedFields.yaml
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/grafana/grafana_reconciler.go
Labels: approved, lgtm
