Repository grafana/grafana-operator, pull requests merged in 2021-02, with the labels that each got.

#343 Added support for Datasource OauthPassThru (Forward OAuth Identity)
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: approved, lgtm, needs-ok-to-test

#338 Add permissions to create events
  deploy/cluster_roles/cluster_role_grafana_operator.yaml
Labels: approved, lgtm, ok-to-test

#344 Remove unusued spec.name
  deploy/examples/dashboards/DashboardFromConfigMap.yaml
  deploy/examples/dashboards/DashboardFromURL.yaml
  deploy/examples/dashboards/DashboardWithCustomFolder.yaml
  deploy/examples/dashboards/DashboardWithPlugins.yaml
  deploy/examples/dashboards/KeycloakDashboard.yaml
  deploy/examples/dashboards/SimpleDashboard.yaml
  documentation/dashboards.md
  pkg/apis/integreatly/v1alpha1/grafanadashboard_types.go
Labels: approved, lgtm, needs-ok-to-test

#345 Added support for login_maximum_lifetime_duration, login_maximum_inac…
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/config/grafanaIni.go
Labels: approved, lgtm, needs-ok-to-test

#347 INTLY-10438 - Implement conditional serviceaccount creation
  deploy/crds/Grafana.yaml
  documentation/deploy_grafana.md
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/grafana/grafana_reconciler.go
Labels: approved, lgtm

#350 Add support for Datasource Custom query parameters (customQueryParame…
  pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go
Labels: approved, lgtm, needs-ok-to-test

#348 Adding support for overriding Grafana plugins init image
  documentation/deploy_grafana.md
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/model/grafanaDeployment.go
Labels: approved, lgtm, ok-to-test

#355 Add sigv4 authentication
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/config/grafanaIni.go
  pkg/controller/model/constants.go
Labels: approved, lgtm, needs-ok-to-test

#356 Added support for pathType, ingressClassName
  deploy/crds/Grafana.yaml
  documentation/deploy_grafana.md
  pkg/apis/integreatly/v1alpha1/grafana_types.go
  pkg/controller/model/grafanaIngress.go
Labels: approved, lgtm, needs-ok-to-test

#357 fix(examples): change example to be cleaner
  deploy/examples/dashboards/DashboardFromURL.yaml
Labels: approved, lgtm, needs-ok-to-test

#360 Fixed customFolderName casing in docs
  documentation/dashboards.md
Labels: approved, lgtm, needs-ok-to-test
