Repository grafana/grafana-operator, pull requests merged in 2021-11, with the labels that each got.

#577 docs: update readme
  README.md
  deploy/operatorMasterImage.yaml
Labels: documentation

#600 Create debug.md to help users debug grafana-operator
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  documentation/debug.md
Labels: documentation

#588 #556: Adds example GrafanaDatasource for postgres
  deploy/examples/datasources/Postgres.yaml
Labels: documentation, v4

#559 Feature/grafana8 unified alerting
  .gitignore
  api/integreatly/v1alpha1/grafana_types.go
  api/integreatly/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/integreatly.org_grafanas.yaml
  config/crd/bases/integreatly.org_grafanas.yaml
  controllers/config/grafanaIni.go
  documentation/api.md
Labels: hacktoberfest, v4
