Repository grafana/grafana-operator, pull requests merged in 2023-04, with the labels that each got.

#980 docs: added section regarding dashboard uid
  docs/docs/dashboards.md
Labels: documentation

#977 blog install Grafana-operator using flux and kustomize
  docs/blog/flux-gitops/grafana-operator.yaml
  docs/blog/flux-gitops/grafana.yaml
  docs/blog/flux-gitops/grafana/dashboard.yaml
  docs/blog/flux-gitops/grafana/grafana.yaml
  docs/blog/flux-gitops/grafana/kustomization.yaml
  docs/blog/kustomize-installation.md
Labels: documentation

#981 update go.mod to include /v5 suffix
  controllers/autodetect/main_test.go
  controllers/client/grafana_client.go
  controllers/controller_shared.go
  controllers/dashboard_controller.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller.go
  controllers/fetchers/jsonnet_fetcher.go
  controllers/fetchers/jsonnet_fetcher_test.go
  controllers/fetchers/url_fetcher.go
  controllers/fetchers/url_fetcher_test.go
  controllers/grafana_controller.go
  controllers/grafanafolder_controller.go
  controllers/model/dashboard_resources.go
  controllers/model/grafana_resources.go
  controllers/reconcilers/grafana/admin_secret_reconciler.go
  controllers/reconcilers/grafana/complete_reconciler.go
  controllers/reconcilers/grafana/config_reconciler.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/grafana_service_reconciler.go
  controllers/reconcilers/grafana/grafana_service_reconciler_test.go
  controllers/reconcilers/grafana/ingress_reconciler.go
  controllers/reconcilers/grafana/plugins_reconciler.go
  controllers/reconcilers/grafana/pvc_reconciler.go
  controllers/reconcilers/grafana/service_account_reconciler.go
  controllers/reconcilers/reconciler.go
  controllers/suite_test.go
  go.mod
  main.go
Labels: v5

#976 Implement grafana.com/dashboards fetcher
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/grafana.integreatly.org_grafanadashboards.yaml
  controllers/dashboard_controller.go
  controllers/fetchers/grafana_com_fetcher.go
  controllers/fetchers/grafana_com_fetcher_test.go
  controllers/metrics/metrics.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  examples/dashboard_from_grafana_com/README.md
  examples/dashboard_from_grafana_com/resources.yaml
Labels: enhancement, v5

#991 fix: more than one source types found for dashboard
  api/v1beta1/grafanadashboard_types.go
  controllers/dashboard_controller.go
Labels: bug

#984 [docs] basic kustomize installation
  Makefile
  deploy/kustomize/README.md
  docs/docs/installation/kustomize.md
Labels: documentation
