Repository grafana/grafana-operator, pull requests merged in 2025-01, with the labels that each got.

#1822 chore: automatically label PRs
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yaml
Labels: chore

#1827 Refactor: Update `GrafanaAlertRuleGroup` reconcile loop
  api/v1beta1/grafanaalertrulegroup_types.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/controller_shared.go
  controllers/grafanaalertrulegroup_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
Labels: refactor

#1828 Fix: Fetch `ConfigMaps` and `Secrets` once per `GrafanaContactPoint` reconciliation
  controllers/grafanacontactpoint_controller.go
Labels: refactor

#1835 docs: further specify uid requirements
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/grafanacontactpoint_types.go
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanafolder_types.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  config/crd/bases/grafana.integreatly.org_grafanafolders.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanafolders.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation

#1833 Refactor: Move scope helper functions out of main
  main.go
Labels: refactor

#1817 feat(controller): add support for mute timing
  api/v1beta1/grafanamutetiming_types.go
  api/v1beta1/grafanamutetiming_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanamutetimings.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  controllers/grafanamutetiming_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanamutetimings.yaml
  deploy/helm/grafana-operator/files/rbac.yaml
  deploy/kustomize/base/crds.yaml
  deploy/kustomize/base/role.yaml
  docs/docs/api.md
  examples/mute_timing/README.md
  examples/mute_timing/resources.yaml
  main.go
  tests/e2e/example-test/13-assert.yaml
  tests/e2e/example-test/13-mute-timing.yaml
  tests/e2e/example-test/chainsaw-test.yaml
Labels: documentation, feature

#1839 feat(runtime): automatically optimize Go runtime based on cgroup limits
  go.mod
  go.sum
  main.go
Labels: feature

#1836 Refactor: Reconcile loggers, prepare for concurrent reconcilers
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/dashboard_controller.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
  controllers/grafana_controller.go
  controllers/grafanaalertrulegroup_controller.go
  controllers/grafanacontactpoint_controller.go
  controllers/grafanafolder_controller.go
  controllers/grafanamutetiming_controller.go
  controllers/grafananotificationtemplate_controller.go
  controllers/notificationpolicy_controller.go
  controllers/reconcilers/grafana/complete_reconciler.go
  controllers/reconcilers/grafana/config_reconciler.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/grafana_service_reconciler.go
  controllers/reconcilers/grafana/ingress_reconciler.go
  controllers/reconcilers/grafana/plugins_reconciler.go
  controllers/reconcilers/grafana/pvc_reconciler.go
Labels: refactor

#1841 chore: add catalog info for the grafana developer catalog
  catalog-info.yaml
Labels: chore

#1800 Dynamic Notification Policy Routes
  Makefile
  PROJECT
  api/v1beta1/grafananotificationpolicy_types.go
  api/v1beta1/grafananotificationpolicy_types_test.go
  api/v1beta1/grafananotificationpolicyroute_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicies.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_grafananotificationpolicyroutes.yaml
  config/crd/patches/webhook_in_grafananotificationpolicyroutes.yaml
  config/rbac/grafananotificationpolicyroute_editor_role.yaml
  config/rbac/grafananotificationpolicyroute_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/grafana_v1beta1_grafananotificationpolicyroute.yaml
  config/samples/kustomization.yaml
  controllers/controller_shared.go
  controllers/notificationpolicy_controller.go
  controllers/notificationpolicy_controller_test.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  deploy/helm/grafana-operator/files/rbac.yaml
  deploy/kustomize/base/crds.yaml
  deploy/kustomize/base/role.yaml
  docs/docs/alerting/dynamic-notification-policy.png
  docs/docs/alerting/notification-policies.md
  docs/docs/api.md
  examples/notification-policy/routes.yaml
  hack/kind/resources/default/grafana-notification-policy.yaml
  hack/kind/resources/default/kustomization.yaml
  hack/kind/start-kind.sh
  main.go
Labels: documentation, feature

#1826 Refactor: Update `GrafanaDatasource` reconcile loop
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanadatasource_types_test.go
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  tests/e2e/example-test/01-assert.yaml
  tests/e2e/example-test/06-assert.yaml
  tests/e2e/example-test/07-assert.yaml
  tests/e2e/examples/crossnamespace/assertions.yaml
Labels: documentation

#1842 docs: update grafana resource docs
  docs/docs/grafana.md
Labels: documentation
