Repository grafana/grafana-operator, pull requests merged in 2025-08, with the labels that each got.

#2120 fix security docs to match new attestation flow
  docs/docs/security.md
Labels: documentation, bugfix

#2136 chore(controllers): simplify tests around conditions
  api/v1beta1/common.go
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/grafanacontactpoint_types.go
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanafolder_types.go
  api/v1beta1/grafanalibrarypanel_types.go
  api/v1beta1/grafanamutetiming_types.go
  api/v1beta1/grafananotificationpolicy_types.go
  api/v1beta1/grafananotificationtemplate_types.go
  controllers/alertrulegroup_controller_test.go
  controllers/contactpoint_controller_test.go
  controllers/controller_shared.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller_test.go
  controllers/folder_controller_test.go
  controllers/grafana_controller_test.go
  controllers/librarypanel_controller_test.go
  controllers/mutetiming_controller_test.go
  controllers/notificationpolicy_controller_test.go
  controllers/notificationtemplate_controller_test.go
  controllers/suite_test.go
Labels: chore

#2145 chore(runtime): bump go to 1.25.0 and deprecate automaxprocs
  Toolchain.mk
  go.mod
  main.go
Labels: chore

#2129 chore: call getFolderUID once before looping instances
  controllers/alertrulegroup_controller.go
  controllers/controller_shared.go
  controllers/dashboard_controller.go
  controllers/folder_controller.go
  controllers/librarypanel_controller.go
Labels: chore

#2146 chore: override default ctx in Grafana httpclient
  controllers/client/grafana_client.go
  go.mod
Labels: chore

#2098 chore(controllers): Test CR deletion, Update finalizer behaviour of Dashboard, Datasource, and Folder
  controllers/alertrulegroup_controller.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/folder_controller.go
  controllers/librarypanel_controller.go
  controllers/notificationpolicy_controller.go
  controllers/suite_test.go
Labels: chore, test

#2158 feat(plugins): add support for latest version, fix version preference for duplicate plugins
  api/v1beta1/grafana_types.go
  api/v1beta1/plugin_list.go
  api/v1beta1/plugin_list_test.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  examples/plugins/README.md
  examples/plugins/dashboard.yaml
  examples/plugins/datasource.yaml
Labels: documentation, feature
