Repository grafana/grafana-operator, pull requests merged in 2025-09, with the labels that each got.

#2167 chore(e2e): bump kind to the latest supported k8s releases
  .github/workflows/e2e.yaml
  Makefile
  hack/kind/start-kind.sh
Labels: chore

#2162 fix(plugins): properly handle version preference in Sanitize, add CRD plugin validations
  api/v1beta1/plugin_list.go
  api/v1beta1/plugin_list_test.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  config/crd/bases/grafana.integreatly.org_grafanalibrarypanels.yaml
  controllers/reconcilers/grafana/plugins_reconciler.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  deploy/kustomize/base/crds.yaml
Labels: bugfix

#2179 fix(plugins): remove ConfigMap key if no plugins left
  controllers/controller_shared.go
  controllers/controller_shared_test.go
Labels: bugfix

#2178 feat: added watchers for cm, secrets in datasource_controller
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
  main.go
Labels: feature

#2180 fix(librarypanel): finalize plugins, mitigate HTTP errors for non-existent panels
  controllers/librarypanel_controller.go
Labels: bugfix

#2193 chore(ServiceAccount): Migrate E2E to integration tests
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_test.go
  controllers/suite_test.go
  tests/e2e/example-test/16-assert.yaml
  tests/e2e/example-test/16-serviceaccount.yaml
  tests/e2e/example-test/chainsaw-test.yaml
  tests/e2e/grafanaserviceaccount/010-assert.yaml
  tests/e2e/grafanaserviceaccount/010-precreate-sa.yaml
  tests/e2e/grafanaserviceaccount/020-assert.yaml
  tests/e2e/grafanaserviceaccount/020-deploy-grafana.yaml
  tests/e2e/grafanaserviceaccount/030-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/030-assert.yaml
  tests/e2e/grafanaserviceaccount/040-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/040-assert.yaml
  tests/e2e/grafanaserviceaccount/040-sa-no-tokens.yaml
  tests/e2e/grafanaserviceaccount/050-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/050-assert.yaml
  tests/e2e/grafanaserviceaccount/050-disable-sa.yaml
  tests/e2e/grafanaserviceaccount/060-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/060-assert.yaml
  tests/e2e/grafanaserviceaccount/060-enable-sa.yaml
  tests/e2e/grafanaserviceaccount/070-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/070-assert.yaml
  tests/e2e/grafanaserviceaccount/070-change-role.yaml
  tests/e2e/grafanaserviceaccount/080-assert-api-response-nochanges.yaml
  tests/e2e/grafanaserviceaccount/080-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/080-assert-nochanges.yaml
  tests/e2e/grafanaserviceaccount/080-assert-suspension.yaml
  tests/e2e/grafanaserviceaccount/080-assert.yaml
  tests/e2e/grafanaserviceaccount/080-modify-suspended-sa.yaml
  tests/e2e/grafanaserviceaccount/080-resume-sa.yaml
  tests/e2e/grafanaserviceaccount/080-suspend-sa.yaml
  tests/e2e/grafanaserviceaccount/090-add-tokens.yaml
  tests/e2e/grafanaserviceaccount/090-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/090-assert.yaml
  tests/e2e/grafanaserviceaccount/100-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/100-assert.yaml
  tests/e2e/grafanaserviceaccount/100-rename-token-secret.yaml
  tests/e2e/grafanaserviceaccount/110-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/110-assert.yaml
  tests/e2e/grafanaserviceaccount/110-update-expirations.yaml
  tests/e2e/grafanaserviceaccount/120-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/120-assert.yaml
  tests/e2e/grafanaserviceaccount/120-remove-expirations.yaml
  tests/e2e/grafanaserviceaccount/130-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/130-assert.yaml
  tests/e2e/grafanaserviceaccount/140-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/140-assert.yaml
  tests/e2e/grafanaserviceaccount/150-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/150-assert.yaml
  tests/e2e/grafanaserviceaccount/160-assert-api-response.yaml
  tests/e2e/grafanaserviceaccount/170-assert.yaml
  tests/e2e/grafanaserviceaccount/chainsaw-test.yaml
  tests/e2e/grafanaserviceaccount/scripts/wait-sa-deletion.sh
  tests/e2e/grafanaserviceaccount/scripts/wait-sa.sh
  tests/e2e/grafanaserviceaccount/scripts/wait-token-deletion.sh
Labels: chore, test
