Repository grafana/grafana-operator, pull requests merged in 2025-03, with the labels that each got.

#1884 fix(examples): use Recreate strategy to fit PVC with ReadWriteOnce access mode
  examples/persistent_volume/resources.yaml
Labels: documentation

#1868 Refactor dashboard reconcile loop
  api/v1beta1/grafanadashboard_types.go
  controllers/content/fetchers/jsonnet_fetcher.go
  controllers/content/resolver.go
  controllers/content/resolver_test.go
  controllers/controller_shared.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/librarypanel_controller.go
  tests/e2e/conditions/01-no-matching-instances-assertions.yaml
  tests/e2e/conditions/02-apply-failed-assertions.yaml
  tests/e2e/conditions/03-additional-invalid-spec.yaml
  tests/e2e/conditions/03-invalid-spec-assertions.yaml
  tests/e2e/conditions/03-testdata-invalid-specs.yaml
  tests/e2e/testdata-resources.yaml
Labels: refactor

#1885 fix: correctly set encoder
  main.go
Labels: bugfix

#1886 feat: support top level configuration options
  controllers/config/grafana_ini.go
  docs/docs/grafana.md
Labels: documentation, feature

#1887 fix(controllers): set Status in synchronized condition to False when hitting apply errors
  controllers/controller_shared.go
  tests/e2e/conditions/02-apply-failed-assertions.yaml
Labels: bug/minor, bugfix

#1888 chore(controllers): remove double imports
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/notificationpolicy_controller.go
Labels: refactor

#1881 feat(GrafanaAlertRuleGroup): add support for Grafana-managed recording rules
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/grafanaalertrulegroup_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  examples/alertrulegroups/resources.yaml
  tests/e2e/example-test/00-create-grafana.yaml
  tests/e2e/example-test/08-alert-rule-group.yaml
Labels: documentation

#1860 feat: Add a Dashboard for Monitoring the Operator Metrics
  deploy/helm/grafana-operator/README.md
  deploy/helm/grafana-operator/files/dashboard.json
  deploy/helm/grafana-operator/templates/dashboard.yaml
  deploy/helm/grafana-operator/values.yaml
  docs/docs/installation/ops-and-monitoring.md
Labels: documentation

#1892 fix: add NotificationPolicyRoute to CSV base
  Makefile
  config/manifests/bases/grafana-operator.clusterserviceversion.yaml
Labels: bugfix, chore

#1894 chore: Remove enum validation of contactpoint type
  api/v1beta1/grafanacontactpoint_types.go
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, chore

#1895 Chore: Remove "grafana" prefix from files
  controllers/alertrulegroup_controller.go
  controllers/contactpoint_controller.go
  controllers/folder_controller.go
  controllers/mutetiming_controller.go
  controllers/notificationtemplate_controller.go
  controllers/reconcilers/grafana/service_reconciler.go
  controllers/reconcilers/grafana/service_reconciler_test.go
Labels: chore

#1896 chore(GrafanaContactPoint): simplify finalize stage
  controllers/contactpoint_controller.go
Labels: chore

#1902 chore(workflows): remove docs_only_check job that relies on compromised action
  .github/workflows/e2e.yaml
Labels: chore

#1906 chore(workflows): update changed-files into using step-security action instead
  .github/workflows/e2e.yaml
Labels: bugfix

#1903 chore(config): refactor config package and add tests
  controllers/config/grafana_ini.go
  controllers/config/grafana_ini_test.go
  controllers/config/operator_constants.go
  controllers/reconcilers/grafana/config_reconciler.go
Labels: chore

#1900 feat(controllers): enrich instance metrics with instance_namespace label
  controllers/client/grafana_client.go
  controllers/client/http_client.go
  controllers/grafana_controller.go
  controllers/metrics/metrics.go
Labels: feature

#1909 fix(GrafanaAlertRuleGroup): apply mute_time_intervals
  controllers/alertrulegroup_controller.go
Labels: bugfix

#1897 chore(GrafanaAlertRuleGroup): simplify finalize stage
  controllers/alertrulegroup_controller.go
Labels: chore

#1898 fix(GrafanaNotificationPolicy): use patch instead of update when applying the notification policy annotation to avoid Grafana CR drift
  controllers/controller_shared.go
  controllers/notificationpolicy_controller.go
Labels: bugfix

#1913 chore(workflows): switch from review-dog to pre-commit
  .github/workflows/pr-validation.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  deploy/helm/cr.yaml
  docs/about/_index.html
  docs/docs/installation/kustomize.md
  docs/docs/proposals/001 external grafana instance.md
  docs/docs/proposals/002-alerting-support.md
  embeds/grafonnet-lib/grafonnet-7.0/DOCS.md
  examples/dashboard_from_url/dashboard.json
  examples/dashboard_gzipped/dashboard.json
  examples/datasource_types/README.md
  examples/datasource_types/postgresql.yaml
  examples/datasource_types/prometheus.yaml
  examples/jsonnet/resources.yaml
  hack/boilerplate.go.txt
  hugo/Makefile
  hugo/archetypes/default.md
  labs/benchmark/Makefile
  labs/benchmark/create_resources.lua
  labs/benchmark/prometheus.yml
  media/logo_small.svg
Labels: documentation, chore

#1901 Chore(Grafana): Refactor grafana reconciler status
  controllers/grafana_controller.go
  controllers/reconcilers/grafana/admin_secret_reconciler.go
  controllers/reconcilers/grafana/complete_reconciler.go
  controllers/reconcilers/grafana/config_reconciler.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/ingress_reconciler.go
  controllers/reconcilers/grafana/plugins_reconciler.go
  controllers/reconcilers/grafana/pvc_reconciler.go
  controllers/reconcilers/grafana/service_account_reconciler.go
  controllers/reconcilers/grafana/service_reconciler.go
  controllers/reconcilers/reconciler.go
  main.go
Labels: refactor

#1918 chore(Grafana): mark internal Grafana as failed if version cannot be fetched
  controllers/controller_shared.go
  controllers/grafana_controller.go
  tests/e2e/conditions/02-apply-failed-assertions.yaml
  tests/e2e/conditions/chainsaw-test.yaml
Labels: chore

#1922 Chore: Bump k8s versions in E2E tests
  .github/workflows/e2e.yaml
Labels: chore
