Repository grafana/grafana-operator, pull requests merged in 2025-07, with the labels that each got.

#2057 chore: Reduce grafana status update requests.
  api/v1beta1/grafana_types.go
  api/v1beta1/grafana_types_test.go
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/grafanaalertrulegroup_types_test.go
  api/v1beta1/grafanacontactpoint_types.go
  api/v1beta1/grafanacontactpoint_types_test.go
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanadashboard_types_test.go
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanadatasource_types_test.go
  api/v1beta1/grafanafolder_types.go
  api/v1beta1/grafanafolder_types_test.go
  api/v1beta1/grafanalibrarypanel_types.go
  api/v1beta1/grafanalibrarypanel_types_test.go
  api/v1beta1/grafanamutetiming_types.go
  api/v1beta1/grafanamutetiming_types_test.go
  api/v1beta1/grafananotificationpolicy_types_test.go
  api/v1beta1/grafananotificationpolicyroute_types_test.go
  api/v1beta1/grafananotificationtemplate_types.go
  api/v1beta1/grafananotificationtemplate_types_test.go
  api/v1beta1/namespaced_resource.go
  api/v1beta1/namespaced_resource_test.go
  controllers/alertrulegroup_controller.go
  controllers/contactpoint_controller.go
  controllers/content/resolver.go
  controllers/controller_shared.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/folder_controller.go
  controllers/grafana_controller.go
  controllers/librarypanel_controller.go
  controllers/mutetiming_controller.go
  controllers/notificationtemplate_controller.go
Labels: chore

#2066 feat(Controllers): Suspend reconciliation with `.spec.suspend=true`
  api/v1beta1/common.go
  api/v1beta1/grafana_types.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  config/crd/bases/grafana.integreatly.org_grafanafolders.yaml
  config/crd/bases/grafana.integreatly.org_grafanalibrarypanels.yaml
  config/crd/bases/grafana.integreatly.org_grafanamutetimings.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicies.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationtemplates.yaml
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  controllers/alertrulegroup_controller.go
  controllers/alertrulegroup_controller_test.go
  controllers/contactpoint_controller.go
  controllers/contactpoint_controller_test.go
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/dashboard_controller.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
  controllers/folder_controller.go
  controllers/folder_controller_test.go
  controllers/grafana_controller.go
  controllers/grafana_controller_test.go
  controllers/librarypanel_controller.go
  controllers/librarypanel_controller_test.go
  controllers/mutetiming_controller.go
  controllers/mutetiming_controller_test.go
  controllers/notificationpolicy_controller.go
  controllers/notificationpolicy_controller_test.go
  controllers/notificationtemplate_controller.go
  controllers/notificationtemplate_controller_test.go
  controllers/suite_test.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanafolders.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanamutetimings.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationtemplates.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  docs/docs/overview.md
Labels: documentation, feature

#2070 chore: Remove `resyncPeriodHasElapsed` checks
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanafolder_types.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/folder_controller.go
Labels: chore

#2075 chore(npm deps): Security vulnerabilities warnings on docs site
  hugo/package-lock.json
  hugo/package.json
Labels: bugfix

#2074 feat(Grafana): Allow specifying subdomain on routes. `.spec.route.subdomain`
  api/v1beta1/typeoverrides.go
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, feature

#2073 chore(tests): migrate E2E conditions tests to envtest
  controllers/alertrulegroup_controller_test.go
  controllers/contactpoint_controller.go
  controllers/contactpoint_controller_test.go
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/dashboard_controller.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
  controllers/folder_controller.go
  controllers/folder_controller_test.go
  controllers/grafana_controller_test.go
  controllers/librarypanel_controller_test.go
  controllers/mutetiming_controller_test.go
  controllers/notificationpolicy_controller.go
  controllers/notificationpolicy_controller_test.go
  controllers/notificationtemplate_controller_test.go
  controllers/suite_test.go
  tests/e2e/conditions/02-apply-failed-assertions.yaml
  tests/e2e/conditions/03-additional-invalid-spec.yaml
  tests/e2e/conditions/03-invalid-spec-assertions.yaml
  tests/e2e/conditions/03-testdata-invalid-specs.yaml
  tests/e2e/conditions/chainsaw-test.yaml
  tests/e2e/example-test/00-assert.yaml
  tests/e2e/example-test/01-assert.yaml
  tests/e2e/example-test/04-assert.yaml
  tests/e2e/example-test/05-assert.yaml
  tests/e2e/example-test/06-assert.yaml
  tests/e2e/example-test/07-assert.yaml
  tests/e2e/example-test/08-assert.yaml
  tests/e2e/example-test/10-assert.yaml
  tests/e2e/example-test/12-assert.yaml
  tests/e2e/example-test/13-assert.yaml
  tests/e2e/example-test/15-assert.yaml
Labels: chore

#2082 support attestation and sbom for multi platform
  .github/workflows/release.yaml
Labels: bugfix

#2094 fix(AlertRuleGroup): default `for` to 0s
  api/v1beta1/grafanaalertrulegroup_types.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/alertrulegroup_controller_test.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, bugfix

#2092 fix(Grafana): `.spec.config.security.admin_*` as fallback for external instances
  controllers/client/grafana_client.go
  controllers/client/grafana_client_test.go
Labels: bugfix

#2089 chore(tests): `ApplySuccessful` conditions
  controllers/alertrulegroup_controller_test.go
  controllers/contactpoint_controller_test.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller_test.go
  controllers/folder_controller_test.go
  controllers/librarypanel_controller_test.go
  controllers/mutetiming_controller_test.go
  controllers/notificationpolicy_controller_test.go
  controllers/notificationtemplate_controller_test.go
  controllers/suite_test.go
Labels: chore, test

#2104 chore(workflows): pre-pull grafana image to speed up CI
  .github/workflows/pr-validation.yaml
  Makefile
Labels: chore

#2105 chore(workflows): warm up Go cache
  .github/workflows/pr-validation.yaml
Labels: chore

#2107 chore(workflows): pre-pull kind image
  .github/workflows/e2e.yaml
Labels: chore

#2108 chore(e2e): faster grafana reconciliation, deprecate default initial delay for readinessProbe
  controllers/reconcilers/grafana/deployment_reconciler.go
  tests/e2e/example-test/00-create-external-grafana.yaml
  tests/e2e/example-test/00-create-grafana.yaml
  tests/e2e/example-test/00-create-versioned-grafana.yaml
  tests/e2e/examples/basic/resources.yaml
  tests/e2e/examples/crossnamespace/resources.yaml
  tests/e2e/examples/dashboard_immutable_uid/base-resources.yaml
Labels: chore

#2110 chore(e2e): fix flaky test, a few minor improvements
  tests/e2e/example-test/00-assert.yaml
  tests/e2e/example-test/00-create-grafana-external.yaml
  tests/e2e/example-test/00-create-grafana-tls.yaml
  tests/e2e/example-test/00-create-grafana-versioned.yaml
  tests/e2e/example-test/11-assert.yaml
  tests/e2e/example-test/chainsaw-test.yaml
  tests/e2e/examples/basic/assertions.yaml
  tests/e2e/examples/basic/chainsaw-test.yaml
  tests/e2e/examples/basic/resources.yaml
Labels: chore

#2115 feat: add missingSeriesEvalsToResolve to alert rule group spec
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/alertrulegroup_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  go.mod
  go.sum
Labels: feature

#2117 feat: add keepFiringFor to alert rule group
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/alertrulegroup_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, feature
