Repository grafana/grafana-operator, pull requests merged in 2025-06, with the labels that each got.

#2027 chore(Makefile): further improvements
  .github/workflows/pr-validation.yaml
  CONTRIBUTING.md
  Makefile
Labels: chore

#2046 chore: Reduce grafana crd size
  Makefile
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, chore

#2049 feat(Grafana): reflect matching NotificationTemplates on Grafanas status
  api/v1beta1/grafana_types.go
  api/v1beta1/grafananotificationtemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  controllers/grafana_controller.go
  controllers/notificationtemplate_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, feature

#2050 feat(Grafana): reflect matching MuteTimings on Grafanas status
  api/v1beta1/grafana_types.go
  api/v1beta1/grafanamutetiming_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  controllers/grafana_controller.go
  controllers/mutetiming_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, feature

#2051 chore(AlertRuleGroup): Remove unnecessary requests during reconcile
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/grafanaalertrulegroup_types_test.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  controllers/alertrulegroup_controller.go
  controllers/alertrulegroup_controller_test.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/kustomize/base/crds.yaml
  tests/example-resources.yaml
Labels: chore

#2058 chore(Makefile): add muffet and fix broken links
  .github/workflows/pr-hugo.yaml
  Makefile
  Toolchain.mk
  deploy/helm/grafana-operator/README.md
  deploy/helm/grafana-operator/README.md.gotmpl
  docs/README.md
  docs/blog/history-and-operator-reach.md
  docs/blog/kustomize-installation.md
  docs/blog/v5-getting-started.md
  docs/blog/v5-intro.md
  docs/docs/alerting/notification-policies.md
  docs/docs/installation/kustomize.md
  docs/docs/proposals/005-grafanadashboard-folder-management-strategy-update.md
  hugo/Makefile
  hugo/README.md
Labels: documentation, chore
