Repository grafana/grafana-operator, pull requests merged in 2025-05, with the labels that each got.

#1970 fix(Grafana): respect HTTP path for external instances
  controllers/client/grafana_client.go
  controllers/client/grafana_client_test.go
  controllers/reconcilers/grafana/complete_reconciler.go
Labels: bugfix

#1945 chore(Makefile): refactor E2E targets and workflows
  .github/workflows/e2e.yaml
  Makefile
  hack/kind/populate-kind-cluster.sh
  hack/kind/start-kind.sh
  tests/e2e/kind.yaml
Labels: bugfix

#1987 Chore(Makefile): Fix recent kind regressions
  Makefile
  hack/kind/populate-kind-cluster.sh
Labels: chore

#1988 chore(Controllers): Reduce reallocations when iterating instances
  controllers/controller_shared.go
Labels: chore

#1989 Test: Convert Chainsaw NoMatchingInstances tests to Go
  .github/workflows/e2e.yaml
  controllers/alertrulegroup_controller_test.go
  controllers/contactpoint_controller_test.go
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/dashboard_controller_test.go
  controllers/datasource_controller_test.go
  controllers/folder_controller_test.go
  controllers/librarypanel_controller.go
  controllers/librarypanel_controller_test.go
  controllers/mutetiming_controller_test.go
  controllers/notificationpolicy_controller.go
  controllers/notificationpolicy_controller_test.go
  controllers/notificationtemplate_controller_test.go
  controllers/reconcilers/grafana/admin_secret_reconciler_test.go
  controllers/reconcilers/grafana/suite_test.go
  tests/e2e/conditions/01-no-matching-instances-assertions.yaml
  tests/e2e/conditions/chainsaw-test.yaml
Labels: test

#1944 chore(helm): align Helm chart with Kustomize by enabling leader-election
  deploy/helm/grafana-operator/README.md
  deploy/helm/grafana-operator/templates/cm.yaml
  deploy/helm/grafana-operator/templates/deployment.yaml
  deploy/helm/grafana-operator/values.yaml
Labels: chore

#1998 chore(labeler): Remove `refactor` label
  .github/labeler.yml
Labels: chore

#1999 ci: Update k8s versions
  .github/workflows/e2e.yaml
  Makefile
  hack/kind/start-kind.sh
Labels: chore

#2000 chore: prep release 5.18
  Makefile
  README.md
  deploy/helm/grafana-operator/Chart.yaml
  deploy/helm/grafana-operator/README.md
  deploy/kustomize/base/kustomization.yaml
  hugo/config.yaml
Labels: chore

#2002 ci: explicitly set all required permissions
  .github/workflows/release.yaml
Labels: bugfix, chore

#2004 ci: decouple ghcr and quay image publishing
  .github/workflows/release.yaml
Labels: chore

#1964 fix: trigger reconcile if referenced configmap change
  controllers/dashboard_controller.go
  controllers/librarypanel_controller.go
  docs/docs/dashboards.md
Labels: documentation, bugfix

#2005 ci: Stabilize E2E tests
  .github/workflows/e2e.yaml
  tests/e2e/example-test/08-alert-folder.yaml
  tests/e2e/example-test/08-alert-rule-group.yaml
  tests/e2e/example-test/08-folder-assert.yaml
  tests/e2e/example-test/10-assert-contact-points.yaml
  tests/e2e/example-test/10-contact-points.yaml
  tests/e2e/example-test/10-notification-policy.yaml
  tests/e2e/example-test/chainsaw-test.yaml
Labels: chore

#1994 fix(dashboard): Recreate dashboard when folderRef is updated
  controllers/dashboard_controller.go
Labels: bugfix

#2009 docs: document how to use PDC with the operator
  docs/docs/datasources.md
Labels: documentation

#2008 ci: move helm-release-app secret to vault
  .github/workflows/release.yaml
Labels: chore

#2010 ci: use github artifact attestations instead of cosign
  .github/workflows/release.yaml
Labels: bugfix, chore

#1992 chore(dashboard): Remove code that deletes missing CRs from instances
  controllers/dashboard_controller.go
  controllers/dashboard_controller_test.go
Labels: chore

#1991 chore(datasource): Remove code that deletes missing CRs from instances
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
Labels: chore

#2014 docs: specify disableDefaultAdminSecret=true when using exiting credential secret
  examples/credential_secret/README.md
  examples/credential_secret/resources.yaml
Labels: documentation

#2015 docs: document service monitor for integrated dashboard
  deploy/helm/grafana-operator/templates/servicemonitor.yaml
  docs/docs/installation/ops-and-monitoring.md
Labels: documentation

#2017 ci: move quay credentials to vault
  .github/workflows/release.yaml
Labels: chore

#2020 chore(grafana controller): Ignore status updates on Grafanas and Deployments
  controllers/grafana_controller.go
Labels: feature

#2022 chore(AdminSecret): Remove unnecessary env variables
  controllers/reconcilers/grafana/admin_secret_reconciler.go
Labels: chore

#2029 chore(Makefile): bump toolchain versions
  .github/workflows/release.yaml
  Toolchain.mk
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  config/crd/bases/grafana.integreatly.org_grafanafolders.yaml
  config/crd/bases/grafana.integreatly.org_grafanalibrarypanels.yaml
  config/crd/bases/grafana.integreatly.org_grafanamutetimings.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicies.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationtemplates.yaml
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanafolders.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanamutetimings.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationtemplates.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
Labels: chore

#2025 chore(controllers): Use `req.NamespacedName` directly
  controllers/alertrulegroup_controller.go
  controllers/contactpoint_controller.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/folder_controller.go
  controllers/librarypanel_controller.go
  controllers/mutetiming_controller.go
  controllers/notificationpolicy_controller.go
  controllers/notificationtemplate_controller.go
Labels: chore
