Repository grafana/grafana-operator, pull requests merged in 2025-02, with the labels that each got.

#1843 Fix: NotificationPolicy LoopDetected condition and `route.receiver` validation
  api/v1beta1/grafananotificationpolicy_types.go
  api/v1beta1/grafananotificationpolicy_types_test.go
  api/v1beta1/grafananotificationpolicyroute_types.go
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicies.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  controllers/notificationpolicy_controller.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, bugfix

#1837 Fix: Apply error condition never registered due to early return
  controllers/controller_shared.go
  controllers/datasource_controller.go
  controllers/grafanaalertrulegroup_controller.go
  controllers/grafanacontactpoint_controller.go
  controllers/grafanafolder_controller.go
  controllers/grafanamutetiming_controller.go
  controllers/grafananotificationtemplate_controller.go
  tests/e2e/conditions/01-no-matching-instances-assertions.yaml
  tests/e2e/conditions/02-apply-failed-assertions.yaml
  tests/e2e/conditions/03-additional-invalid-spec.yaml
  tests/e2e/conditions/03-invalid-spec-assertions.yaml
  tests/e2e/conditions/03-testdata-invalid-specs.yaml
  tests/e2e/conditions/chainsaw-test.yaml
  tests/e2e/force_delete_folder/chainsaw-test.yaml
  tests/e2e/testdata-assertions.yaml
  tests/e2e/testdata-resources.yaml
  tests/example-resources.yaml
Labels: bugfix

#1851 test: add test case for cross namespace isolation
  tests/e2e/examples/crossnamespace/assertions.yaml
  tests/e2e/examples/crossnamespace/resources.yaml
Labels: test

#1853 patch: add support for amazon sns contactpoint
  api/v1beta1/grafanacontactpoint_types.go
  bundle/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation

#1864 Fix: Finalize only deletes datasource from the first instance
  controllers/datasource_controller.go
Labels: bugfix

#1863 chore: version image in kustomize
  Makefile
  deploy/kustomize/base/deployment.yaml
  deploy/kustomize/base/kustomization.yaml
Labels: chore

#1859 fix: folder title had to be unique
  controllers/grafanafolder_controller.go
Labels: bugfix

#1840 feat: add headlessService for grafana high availability
  controllers/config/operator_constants.go
  controllers/model/grafana_resources.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/grafana_service_reconciler.go
  examples/multiple_replicas/resources.yaml
  tests/e2e/examples/basic/assertions.yaml
  tests/e2e/examples/crossnamespace/assertions.yaml
Labels: documentation

#1832 feat: Allow to restrict the CRs watched according to their labels
  controllers/model/utils.go
  controllers/reconcilers/grafana/admin_secret_reconciler.go
  controllers/reconcilers/grafana/config_reconciler.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/grafana_service_reconciler.go
  controllers/reconcilers/grafana/ingress_reconciler.go
  controllers/reconcilers/grafana/plugins_reconciler.go
  controllers/reconcilers/grafana/pvc_reconciler.go
  controllers/reconcilers/grafana/service_account_reconciler.go
  deploy/helm/grafana-operator/README.md
  deploy/helm/grafana-operator/templates/deployment.yaml
  deploy/helm/grafana-operator/values.yaml
  main.go
Labels: feature

#1869 fix: use specified name for dashboard env var using valueFrom
  controllers/content/resolver.go
  tests/e2e/example-test/07-assert.yaml
  tests/e2e/example-test/07-jsonnet-project.yaml
  tests/e2e/example-test/07-jsonnet.yaml
  tests/e2e/example-test/chainsaw-test.yaml
Labels: bugfix

#1858 feat: add GrafanaLibraryPanel CRD and reconciler
  api/v1beta1/grafana_types.go
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanalibrarypanel_types.go
  api/v1beta1/grafanalibrarypanel_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanalibrarypanels.yaml
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  config/rbac/grafanalibrarypanel_editor_role.yaml
  config/rbac/grafanalibrarypanel_viewer_role.yaml
  config/rbac/role.yaml
  controllers/client/grafana_client.go
  controllers/client/http_client.go
  controllers/client/round_tripper.go
  controllers/content/fetchers/grafana_com_fetcher.go
  controllers/content/fetchers/grafana_com_fetcher_test.go
  controllers/content/fetchers/url_fetcher.go
  controllers/content/fetchers/url_fetcher_test.go
  controllers/content/resolver.go
  controllers/content/resolver_test.go
  controllers/librarypanel_controller.go
  controllers/metrics/metrics.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/helm/grafana-operator/files/rbac.yaml
  deploy/kustomize/base/crds.yaml
  deploy/kustomize/base/role.yaml
  docs/docs/api.md
  docs/docs/proposals/007-grafanalibrarypanel-crd.md
  main.go
  tests/e2e/example-test/14-assert.yaml
  tests/e2e/example-test/14-library-panel.yaml
  tests/e2e/example-test/15-assert.yaml
  tests/e2e/example-test/15-library-panel.yaml
Labels: documentation, feature

#1875 fix: Kustomize artifact did not include new library panel CRD
  config/crd/kustomization.yaml
  deploy/kustomize/base/crds.yaml
Labels: bugfix

#1879 don't treat missing datasource as an error when deleting datasource
  controllers/datasource_controller.go
  controllers/grafanafolder_controller.go
Labels: bugfix
