Repository grafana/grafana-operator, pull requests merged in 2025-04, with the labels that each got.

#1921 chore(controllers): log cases when none of available Grafana instances match selector
  controllers/controller_shared.go
Labels: chore

#1928 fix(Grafana): avoid grafana-ini's configmap mount masking the existing files/directories
  controllers/reconcilers/grafana/deployment_reconciler.go
Labels: bug/minor, bugfix

#1931 fix(Grafana): do not skip reconciliation if generation is the same as before
  controllers/grafana_controller.go
Labels: bugfix

#1916 feat(Grafana): add an option to disable default admin secret
  api/v1beta1/grafana_types.go
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  controllers/grafana_admin_secret_reconciler_test.go
  controllers/reconcilers/grafana/admin_secret_reconciler.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: documentation, feature

#1929 feat(runtime): use safe caching mode by default
  deploy/helm/grafana-operator/README.md
  deploy/helm/grafana-operator/values.yaml
  main.go
Labels: feature

#1932 fix(controllers): retry reconciliation for plugins and home dashboards and fix ownerReferences for plugins and Deployment
  controllers/controller_shared.go
  controllers/controller_shared_test.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/reconcilers/grafana/deployment_reconciler.go
Labels: bugfix

#1939 chore: bump go to 1.24.2
  api/go.mod
  go.mod
Labels: chore

#1927 fix(helm): use datasource variable in all panels of grafana-operator dashboard
  deploy/helm/grafana-operator/files/dashboard.json
Labels: bugfix

#1949 OLM Refinements
  Makefile
  config/default/kustomization.yaml
  config/default/metrics_service.yaml
  config/prometheus/monitor.yaml
  config/samples/grafana_v1beta1_grafanalibrarypanel.yaml
  config/samples/grafana_v1beta1_grafanamutetiming.yaml
  config/samples/grafana_v1beta1_grafananotificationtemplate.yaml
  config/samples/kustomization.yaml
  deploy/kustomize/overlays/chainsaw/deployment-patch.yaml
  deploy/kustomize/overlays/chainsaw/kustomization.yaml
  hack/add-openshift-annotations.sh
Labels: chore

#1951 fix: use stricter validation for resyncPeriod
  api/v1beta1/common.go
  config/crd/bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
  config/crd/bases/grafana.integreatly.org_grafanacontactpoints.yaml
  config/crd/bases/grafana.integreatly.org_grafanadashboards.yaml
  config/crd/bases/grafana.integreatly.org_grafanadatasources.yaml
  config/crd/bases/grafana.integreatly.org_grafanafolders.yaml
  config/crd/bases/grafana.integreatly.org_grafanalibrarypanels.yaml
  config/crd/bases/grafana.integreatly.org_grafanamutetimings.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationpolicies.yaml
  config/crd/bases/grafana.integreatly.org_grafananotificationtemplates.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanafolders.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanamutetimings.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafananotificationtemplates.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
Labels: bugfix

#1952 chore: prep release 5.17.1
  Makefile
  README.md
  deploy/helm/grafana-operator/Chart.yaml
  deploy/helm/grafana-operator/README.md
  deploy/kustomize/base/kustomization.yaml
  hugo/config.yaml
Labels: chore

#1954 fix: remove service monitor from OLM deployment
  config/default/kustomization.yaml
Labels: bugfix

#1935 Chore(GrafanaLibraryPanel): Implement startup sync and simplify finalize stage
  controllers/librarypanel_controller.go
  controllers/metrics/metrics.go
  main.go
Labels: bugfix, chore

#1943 Chore(Hugo): Remove installation of deprecated dart-sass-embedded in hugo actions
  .github/workflows/hugo.yaml
  .github/workflows/pr-hugo.yaml
Labels: chore

#1955 chore(grafana): Slow down exponential backoff retries on errors
  controllers/controller_shared.go
  controllers/grafana_controller.go
Labels: refactor

#1936 feat(Grafana): add ContactPoints to Grafana status field
  api/v1beta1/grafana_types.go
  api/v1beta1/grafanacontactpoint_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/grafana.integreatly.org_grafanas.yaml
  controllers/contactpoint_controller.go
  controllers/metrics/metrics.go
  deploy/helm/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  deploy/kustomize/base/crds.yaml
  docs/docs/api.md
  main.go
Labels: documentation, feature

#1953 chore(go.mod): fix references for incompatible modules
  api/go.mod
  api/go.sum
  api/v1beta1/plugin_list.go
  go.mod
  go.sum
Labels: bugfix, chore

#1920 Unit test for syncDatasources
  controllers/datasource_controller.go
  controllers/datasource_controller_test.go
Labels: feature

#1961 fix(Makefile): properly set new image in deploy target
  Makefile
Labels: bugfix

#1940 chore(Internal): Refactor deferred status update to share the same function
  api/v1beta1/common.go
  api/v1beta1/grafanaalertrulegroup_types.go
  api/v1beta1/grafanacontactpoint_types.go
  api/v1beta1/grafanadashboard_types.go
  api/v1beta1/grafanadatasource_types.go
  api/v1beta1/grafanafolder_types.go
  api/v1beta1/grafanalibrarypanel_types.go
  api/v1beta1/grafanamutetiming_types.go
  api/v1beta1/grafananotificationpolicy_types.go
  api/v1beta1/grafananotificationtemplate_types.go
  controllers/alertrulegroup_controller.go
  controllers/contactpoint_controller.go
  controllers/controller_shared.go
  controllers/dashboard_controller.go
  controllers/datasource_controller.go
  controllers/folder_controller.go
  controllers/librarypanel_controller.go
  controllers/mutetiming_controller.go
  controllers/notificationpolicy_controller.go
  controllers/notificationtemplate_controller.go
Labels: refactor

#1960 fix(controllers): prevent label and controller reference overrides
  controllers/model/dashboard_resources.go
  controllers/model/grafana_resources.go
  controllers/model/utils.go
  controllers/reconcilers/grafana/admin_secret_reconciler.go
  controllers/reconcilers/grafana/config_reconciler.go
  controllers/reconcilers/grafana/deployment_reconciler.go
  controllers/reconcilers/grafana/ingress_reconciler.go
  controllers/reconcilers/grafana/plugins_reconciler.go
  controllers/reconcilers/grafana/pvc_reconciler.go
  controllers/reconcilers/grafana/service_account_reconciler.go
  controllers/reconcilers/grafana/service_reconciler.go
  main.go
Labels: bugfix

#1880 Chore(Grafana): Reduce differences between Internal and External Grafana instance reconciliation.
  controllers/grafana_controller.go
  controllers/reconcilers/grafana/complete_reconciler.go
Labels: chore, refactor

#1977 ci: zizmor fixes
  .github/workflows/e2e.yaml
  .github/workflows/hugo.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pr-hugo.yaml
  .github/workflows/pr-validation.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yml
Labels: bugfix, chore

#1976 chore(go.mod): merge api module back as a package
  .github/dependabot.yml
  .github/workflows/pr-validation.yaml
  Makefile
  api/.golangci.yaml
  api/go.mod
  api/go.sum
  go.mod
Labels: chore
